/*
    About us
 */

.about_us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8em 10em;
}

.about_us h1 {
    margin-top: 0.2em;
}

.about_us .desc {
    margin-top: 2em;
    opacity: 0.7;
}

.about_us img {
    width: 34em;
    height: 21em;
    margin-left: 8em;
    object-fit: cover;
}

/*
    Who we are
 */

.who_we_are {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10em 8em;
}

.who_we_are .top {
    padding: 5em;
    background-color: #f4f5f5;
}

.who_we_are .top .content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.who_we_are .content_wrapper article {
    width: 48%;
}

.who_we_are .content_wrapper article p {
    margin-top: 1em;
    opacity: 0.7;
}

.who_we_are > img {
    width: 100%;
    height: 21.25em;
    object-fit: cover;
}

/*
    Our process
 */

.our_process {
    padding: 0 10em 8em;
}

.our_process h2 {
    text-align: center;
}

.our_process .process_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
    gap: 3.5em;
}

.our_process .work_line {
    display: flex;
    align-items: center;
}

.our_process .work_line .circle {
    min-width: 1.5em;
    min-height: 1.5em;
    border-radius: 100%;
}

.our_process .work_line .line {
    width: 100%;
    height: 0.2em;
    margin-left: 1.2em;
    opacity: 0.4;
    background-image: linear-gradient(to right, #2405f2 33%, white 0%);
    background-position: bottom;
    background-size: 0.8em 1px;
}

.our_process .process h6 {
    margin-top: 1.5em;
}

.our_process .process p {
    margin-top: 0.5em;
    opacity: 0.7;
}

/*
    Our mission and vision
 */

.mission_and_vision {
    padding: 8em 10em;
    background-color: #eef4fa;
}

.mission_and_vision article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mission_and_vision article:not(:first-child) {
    margin-top: 6em;
}

.mission_and_vision article .text_wrapper {
    width: 40%;
}

.mission_and_vision article .text_wrapper h3 {
    margin-top: 0.2em;
}

.mission_and_vision article .text_wrapper .body1 {
    margin-top: 1em;
    opacity: 0.7;
}

.mission_and_vision article img {
    width: 32em;
    height: 21em;
    object-fit: cover;
}

/*
    Our benefits
 */

.our_benefits {
    padding: 8em 10em;
    text-align: center;
}

.our_benefits h2 {
    display: inline-block;
    width: 20em;
}

.our_benefits .cards_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    gap: 2em;
}

.our_benefits .card {
    width: 100%;
    padding: 3em;
    text-align: left;
}

.our_benefits .card img {
    width: 2em;
    height: 2em;
}

.our_benefits .card > h6 {
    margin-top: 1em;
}

.our_benefits .card p {
    margin-top: 0.75em;
    opacity: 0.7;
}

.our_benefits .partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
    text-align: left;
    gap: 2em;
}

.our_benefits .users p {
    opacity: 0.7;
}

.our_benefits .partners_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #535460;
    gap: 3em;
}

.our_benefits .partner {
    display: flex;
    align-items: center;
}

.our_benefits .partner img {
    width: 2em;
    height: 2em;
    object-fit: scale-down;
}

.our_benefits .partner p {
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 0.4em;
}