.extended_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8em 10em;
    color: white;
}

.extended_header .main_text p {
    margin-top: 1.5em;
}

.extended_header .buttons_wrapper {
    display: flex;
    align-items: center;
    margin-top: 3em;
    white-space: nowrap;
    gap: 2.5em;
}

.extended_header > img {
    margin-left: 8em;
}

.arrow_link::after {
    position: absolute;
    margin-left: 0.5em;
    content: "\2192";
    transition: transform 0.3s ease-in-out;
}

.arrow_link:hover::after {
    transform: translateX(0.5em);
}

/*
how_we_work
 */

.how_we_work {
    display: flex;
    justify-content: space-between;
    padding: 8em 10em;
    background-color: #f4f6fc;
}

.how_we_work > * {
    max-width: 45%;
}

.how_we_work .how_we_work_text :is(p, a) {
    display: block;
    margin-top: 1em;
}

.how_we_work .cards_wrapper {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2.5em 1.5em;
}

.how_we_work .work_card > *:not(:first-child) {
    margin-top: 1em;
}

.how_we_work .card_icon {
    position: relative;
    overflow: hidden;
    width: 3.125em;
    height: 3.125em;
    border-radius: 0.5em;
    background-color: #2405f2;
}

.how_we_work .card_icon > .icon_part1 {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 3.125em;
    height: 3.125em;
    border-radius: 0.5em;
    background-color: #fcd980;
}

.how_we_work .card_icon > .icon_part2 {
    position: absolute;
    top: -0.55em;
    right: -0.55em;
    width: 3.125em;
    height: 3.125em;
    border-radius: 0.5em;
    background-color: #5239fa;
}

.how_we_work .card_icon > .icon_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.projects {
    padding: 8em 10em;
}

.projects header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects main {
    display: grid;
    margin-top: 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
}

.projects .project {
    position: relative;
}

.projects .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects .project .image_desc {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    background: linear-gradient(329.39deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}

.projects .image_desc_1 {
    box-sizing: border-box;
    width: 46.5%;
    padding: 19.5em 2em 0;
}

.image_desc_1 p {
    margin-top: 1em;
    opacity: 0.8;
}

.image_desc_1 a {
    display: block;
    margin-top: 2.5em;
}

.image_desc_2 {
    box-sizing: border-box;
    width: 100%;
    padding: 6em 3.5em 0;
}

.image_desc_2 a {
    display: block;
    margin-top: 1em;
}

.projects .project:nth-child(1) {
    width: 48em;
    height: 36em;
    grid-area: 1 / 1 / 3 / 2;
}

.projects .project:is(:nth-child(2), :nth-child(3)) {
    width: 24em;
}

.projects .project:nth-child(2) {
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
}

.projects .project:nth-child(3) {
    height: 100%;
    grid-area: 2 / 2 / 3 / 3;
}


.features {
    padding: 8em 10em;
    text-align: center;
}

.features > :is(h2, p) {
    /* text-align: center; */
}

.features > h2 {
    display: inline-block;
    width: 15em;
    margin-top: 0.75em;
}

.features .cards_wrapper {
    display: grid;
    margin-top: 3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1.5em;
}

.features .card {
    max-width: 25em;
    padding: 3em;
    text-align: left;
    background-color: white;
}

.features .card h6 {
    margin-top: 1.5em;
}

.features .card p {
    margin-top: 0.75em;
    opacity: 0.7;
}

.features .card img {
    width: 2em;
    height: 2em;
    object-fit: contain;
}

.features .card:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

.features .card:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

.features .card:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

.features .card:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }

.features .card:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }

.features .card:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }

.features .card:nth-child(7) { grid-area: 3 / 1 / 4 / 2; }

.features .card:nth-child(8) { grid-area: 3 / 2 / 4 / 3; }

.features .card:nth-child(9) { grid-area: 3 / 3 / 4 / 4; }
